extends base

block content
	section.section.p-0
		#main-container.columns.is-desktop
			aside#navbar-container.column.is-narrow
				figure.image.is-250x250
					a.nohl(href="/")
						img.is-rounded(
							width="250"
							height="250"
							src="/img/avatars/femcone-small.png"
							alt="My avatar - a feminized version of myself wearing a traffic cone, with a trans flag in the background."
							title="My avatar :> I drew it myself! And yes, I am wearing a traffic cone. It's called 'fashion.'"
							loading="eager",
							srcset=`
							/img/avatars/femcone-small.webp 1x,
							/img/avatars/femcone.webp 2x,
							/img/avatars/femcone-big.webp 4x,
							/img/avatars/femcone-huge.webp 8x,
							`
						)
				hr
				nav#navbar.column.is-flex
					each cat, catId in categories
						- const isInCategory = url === cat.url || category === catId;
						a(tabindex="0" href=cat.url class=isInCategory && "is-active")= cat.title 

			main.column.content.is-flex.is-flex-direction-column
				block main-content
					!=content
