-
	const currentYear = new Date().getFullYear();
	const firstYear = 2022;
	const yearText =
		currentYear > firstYear
		? `${firstYear}—${currentYear}`
		: firstYear.toString();

include button
include modal/modal-button

footer.footer
	.content.has-text-centered
		p © #{yearText} Leah “pluie” Chen
		p.
			Code and contents of this page are licensed under #[br]
			#[a(href="https://mit-license.org/") the MIT License] and
			#[a(href="https://creativecommons.org/licenses/by-sa/4.0/") CC BY-SA 4.0] respectively.
			#[br] #[a(href="https://github.com/pluiedev/site") Source code available at GitHub.]
		p.
			Made with #[a(href="https://bulma.io") Bulma], 💜, caffeine, and E pills.

		.buttons.is-centered.mt-4
			+button("https://youtube.com/@pluiedev")(
				type="youtube"
				icon="fab fa-youtube"
				title="YouTube"
			) YouTube
			+button("https://pronouns.page/@pluiedev")(
				type="pronouns-page"
				icon="https://gitlab.com/Avris/Zaimki/-/raw/ee77ac8c70e46c5158be5e843b95b32a59b1d18f/static/logo/logo-light.svg"
				title="pronouns.page"
			) pronouns.page
			+button("https://discord.gg/NeNfePzCx8")(
				type="discord"
				icon="fab fa-discord"
				title="Discord Server"
			) Discord Server
			+button("https://blobfox.coffee/@pluie")(
				type="mastodon"
				icon="fab fa-mastodon"
				title="Mastodon"
			) Mastodon
			+button("https://twitter.com/pluiedev")(
				type="twitter"
				icon="fab fa-twitter"
				title="Twitter"
			) Twitter
			+button("https://space.bilibili.com/401096522")(
				type="twitter"
				icon="fab fa-bilibili"
				title="Bilibili"
			) Bilibili
			+button("https://github.com/pluiedev")(
				type="github"
				icon="fab fa-github"
				title="GitHub"
			) GitHub
			+modal-button(switches.email)(
				icon="fas fa-envelope"
				title="Email"
			) Email
