mixin icon(icon)
	if icon
		span.icon
			//- Font Awesome icons
			if typeof(icon) === "string"
				if icon.startsWith("fa")
					i(class=icon)
			else
				img(src=icon.src alt=icon.alt height=icon.height width=icon.width)


mixin icon-with-text(icon)
	span.icon-text
		+icon(icon)
		span
			block
