mixin modal(id)
	.toggleable-modal
		input.modal-toggle(type="checkbox" id=id aria-hidden="true")
		.modal
			label.modal-background(for=id)

			.modal-content
				block
				label.modal-close.is-large(for=id aria-label="close")

mixin modal-button(modal)
	include icon

	label(tabindex="0" role="button" for=modal)
		span(
			disabled=attributes.disabled,
			id=attributes.id,
			title=attributes.title,
			class=["button", `is-${attributes.type || "github"}`]
		)
			+icon(attributes.icon)
			span
				block