mixin deferred-stylesheets(...hrefs)
	each href in hrefs
		link(
			rel="preload"
			href=href
			as="style"
			onload="this.onload=null;this.rel='stylesheet'"
		)
	noscript
		each href in hrefs
			link(rel="stylesheet" href=href)

head 
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=0.75")
	meta(name="description" content="The homepage of pluie/pluiedev!")

	link(rel="preconnect" href="https://fonts.bunny.net")
	link(
		rel="icon"
		type="image/png"
		sizes="128x128"
		href="/img/favicon/128x128-small.jpg"
	)
	title= `${title} | pluie.me`

	+deferred-stylesheets("/style.css", "/fontawesome.min.css")