mixin navbar-link(link, icon, color)
	a.navbar-item.is-flex(href=link target="_blank")
		span.icon.mr-1(aria-hidden=true)
			if icon.startsWith("fa")
				i(class=[icon, color ? `has-text-${color}` : ""])
			else
				img(src=icon)

		block

nav.navbar.is-fixed-top.is-primary(role="navigation" aria-label="navigation")
	input#navbar-toggle.is-hidden(type="checkbox")
	
	.navbar-brand
		a.navbar-item.py-0(href="https://pluie.me"): img(src="/icons/wordmark.svg")
		
		label.navbar-burger(for="navbar-toggle" role="button" aria-label="menu")
			//- Three empty spans here for rendering the burger icon
			span(aria-hidden=true)
			span(aria-hidden=true) 
			span(aria-hidden=true)
		
	.navbar-menu
		.navbar-start
			a.navbar-item(href="/") Home
			a.navbar-item(href="/blog") Blog
			a.navbar-item(href="/works") Works

			.navbar-item.has-dropdown.is-hoverable
				a.navbar-link Contact / Links
				
				.navbar-dropdown
					+navbar-link("https://youtube.com/@pluiedev", "fab fa-youtube", "youtube")
						span YouTube
					+navbar-link("https://pronouns.page/@pluiedev", "/icons/pronouns-page.svg")
						span pronouns.page
					+navbar-link("https://discord.gg/NeNfePzCx8", "fab fa-discord", "blurple")
						span Discord Server
					+navbar-link("https://blobfox.coffee/@pluie", "fab fa-mastodon", "blurple")
						span Mastodon
					+navbar-link("https://space.bilibili.com/401096522", "fab fa-bilibili", "twitter")
						span Bilibili

					//- +modal-button(switches.email)(
					//- 	icon="fas fa-envelope"
					//- 	title="Email"
					//- ) Email
						
				 
		
