include ../comps/icon
include ../comps/modal

mixin navbar-link(link, icon, color)
	a.navbar-item.is-flex(href=link target="_blank")
		+icon(icon, color)(aria-hidden=true).mr-1
		block

nav.navbar.is-fixed-top.is-primary(role="navigation" aria-label="navigation")
	input#navbar-toggle.is-hidden(type="checkbox")
	
	.navbar-brand
		a.navbar-item.py-0(href="/")
			img(src="/icons/wordmark.svg" alt="pluie.me" width="100" height="28")
		
		label.navbar-burger(for="navbar-toggle" role="button" aria-label="menu")
			//- Three empty spans here for rendering the burger icon
			span(aria-hidden="true")
			span(aria-hidden="true") 
			span(aria-hidden="true")
		
	.navbar-menu
		.navbar-start
			each category in categories
				a.navbar-item(href=category.url)= category.title

			label(for=switches.contacts).navbar-item.has-dropdown.has-dropdown-toggle
				input(id=switches.contacts type="checkbox").navbar-dropdown-toggle

				span.navbar-link Contact / Links
				
				.navbar-dropdown
					+navbar-link("https://youtube.com/@pluiedev", "fab fa-youtube", "youtube")
						span YouTube
					+navbar-link("https://pronouns.page/@pluiedev", { src: "/icons/pronouns-page.svg", alt: "pronouns.page logo"})
						span pronouns.page
					+navbar-link("https://discord.gg/NeNfePzCx8", "fab fa-discord", "blurple")
						span Discord Server
					+navbar-link("https://blobfox.coffee/@pluie", "fab fa-mastodon", "blurple")
						span Mastodon
					+navbar-link("https://space.bilibili.com/401096522", "fab fa-bilibili", "twitter")
						span Bilibili

					label(tabindex="0" role="button" for=switches.email)
						span.navbar-item.is-flex
							+icon("fas fa-envelope")(aria-hidden=true).mr-1
							span Email
						
				 
		
