include ../comps/icon
include ../comps/modal

mixin navbar-link(link, icon, color)
	a.navbar-item.is-flex(href=link target="_blank")
		+icon(icon, color)(aria-hidden=true).mr-1
		block

nav.navbar
	input#navbar-toggle.hidden(type="checkbox" aria-hidden="true")

	a.navbar-brand(href="/" title="pluie.me")

	//- label.navbar-burger(for="navbar-toggle" role="button" aria-label="menu")
	//- 	//- Three empty spans here for rendering the burger icon
	//- 	span(aria-hidden="true")
	//- 	span(aria-hidden="true")
	//- 	span(aria-hidden="true")

	.grow
		each category in categories
			a.navbar-tab(href=category.url title=category.title)= category.title

		label.navbar-dropdown(for=switches.contacts tabindex="0" role="button")
			input(id=switches.contacts type="checkbox").navbar-dropdown-toggle

			span.navbar-dropdown-label.navbar-tab Contact / Links

			.navbar-dropdown-items.bg-white.border-t-2.rounded-b-lg.shadow-md(class="shadow-black/10 dark:bg-brand-darker dark:border-t-brand-darkest")
				for link in links
					a.navbar-item.flex.items-center.px-4.py-3.whitespace-nowrap(href=link.link target="_blank")
						+icon(link.icon, link.color)(aria-hidden=true).mr-1
						span= link.text

				label.navbar-item.flex.items-center.px-4.py-3.whitespace-nowrap(tabindex="0" role="button" for=switches.email)
					span.navbar-item.is-flex.fake-link
						+icon("mail")(aria-hidden=true).mr-1
						span Email



