include ../comps/icon
include ../comps/modal

mixin navbar-link(link, icon, color)
	a.navbar-item.is-flex(href=link target="_blank")
		+icon(icon, color)(aria-hidden=true).mr-1
		block

nav.top-0.fixed.bg-brand.flex.justify-center.h-16.min-w-full.text-white.z-30
	input#navbar-toggle.hidden(type="checkbox" aria-hidden="true")
	
	a.w-32.bg-wordmark.bg-center.bg-no-repeat(class="hover:bg-brand-dark" href="/")
		
	//- label.navbar-burger(for="navbar-toggle" role="button" aria-label="menu")
	//- 	//- Three empty spans here for rendering the burger icon
	//- 	span(aria-hidden="true")
	//- 	span(aria-hidden="true") 
	//- 	span(aria-hidden="true")
		
	.navbar-items
		each category in categories
			a(href=category.url)= category.title

		label.navbar-dropdown(for=switches.contacts tabindex="0" role="button")
			input(id=switches.contacts type="checkbox").navbar-dropdown-toggle

			span.px-0.navbar-dropdown-label Contact / Links
			
			.navbar-dropdown-items.bg-white.rounded-b-lg.border-t-zinc-400.shadow-md(class="shadow-black/10")
				for link in links
					a.navbar-item.flex.px-2.py-4.whitespace-nowrap(href=link.link target="_blank")
						+icon(link.icon, link.color)(aria-hidden=true).mr-1
						span= link.text

				label(tabindex="0" role="button" for=switches.email)
					span.navbar-item.is-flex.fake-link
						+icon("fas fa-envelope")(aria-hidden=true).mr-1
						span Email
						
				 
		
