---
export interface Props {
	modal?: string,
	type?: string | string[],
	icon?: string,

	id?: string,
	title?: string
	disabled?: boolean,
}

const {
	modal,
	type = "github",
	icon,
	id,
	title,
	disabled,
} = Astro.props as Props;
---

<label role="button" for={modal}>
    <span {disabled} {id} {title} class={`button is-${type}`}>
        {icon &&
        <span class="icon">
            <i class={icon}></i>
        </span>
        }
        <span>
            <slot />
        </span>
    </span>
</label>
