---
export interface Props {
	link?: string,
	modal?: string,
	type?: string | string[],
	icon?: string,

	id?: string,
	title?: string
}

const {
	link,
	modal,
	type = "github",
	icon,
	id,
	title,
} = Astro.props as Props;
---

{(() => {
	let button: HTMLSpanElement = 
	<span {id} {title} class={`button is-${type}`}>
		{icon &&
		<span class="icon">
			<i class={icon}></i>
		</span>
		}
		<span>
			<slot />
		</span>
	</span>;
	
	
	if (link) {
		const [href, target] = link.split('|', 2);
		button = <a {href} {target}>{button}</a>;
	}
	if (modal) {
		button = <label for={modal}>{button}</label>
	}
	return button;
})()}