---
import { members } from "../data/Members.js";
import { flags } from "../data/Flags.js";
import { WithMemberProps } from "@data/Types.js";

export interface Props extends WithMemberProps {
    showName?: boolean;
}

const { member, showName = false } = Astro.props as Props;
---

<div class="pride-flags">
    {members[member].flags.map(flagKey => {
        const {
            name,
            isPride = true,
            pronounsPageRedirect = flagKey
        } = flags[flagKey];
        
        var text = "";
        if (showName) {
            text += name
            if (!isPride) {
                text += "*"
            }
        }

        return <>
            <a href={`https://en.pronouns.page/dictionary/terminology#${pronounsPageRedirect}`}>
                <img
                    src={`/pride/${flagKey}.svg`}
                    class="pride-flag"
                    title={name}
                    alt={name}
                />
                {text}
            </a>
        </>;
    })}
</div>