---
import { members } from "@data/Members"
import { pronouns as allPronouns } from "@data/Pronouns"
import { WithMemberProps } from "@data/Types";

const props = Astro.props as WithMemberProps;
const pronouns = members[props.member].pronouns

---

{(() => {
    if (pronouns.length > 1) {
        return pronouns.map((p, ind) => {
            const span = <span class={`pronoun ${p}`}>{allPronouns[p].combined}</span>;
            // separator, has to add manually because... JSX.
            const separator = (ind == pronouns.length - 1) ? "" : "/";
            return <>{span}{separator}</>;
        });
    } else if (pronouns.length == 1) {
        const pronoun = pronouns[0];

        return <>
            <span class={`pronoun ${pronoun}`}>
                {allPronouns[pronoun].isolated}
            </span>
        </>;
    }
})()}