include ../icon

mixin modal-button(modal)
	label(tabindex="0" role="button" for=modal)
		span(
			disabled=attributes.disabled,
			id=attributes.id,
			title=attributes.title,
			class=["button", `is-${attributes.type || "github"}`]
		)
			+maybe-icon(attributes.icon)
			span
				block