---
title: Works
description: Projects, artworks, and other things I've done...
---

include _includes/comps/icon
include _includes/comps/modal

h2.title.is-3 Projects 

:md
	Under construction! :purple_heart:
	(Yeah, I know, it's been ages, gimme some more time)

h2.title.is-3 Artworks

//- TODO: this *definitely* needs to be migrated to Cloudflare Images at some point.
//- I don't fully trust imgbb with my art, and CF is faster anyway...
mixin display(id, title, preview_link, full_link)
	-const { height, width, ...rest } = attributes;

	figure.display&attributes(rest)
		label(for=id role="button" tabindex="0")
			img(
				src=`https://i.ibb.co/${preview_link}/${id}-original.webp`
				alt=title
				width=width
				height=height
			)
		
		figcaption
			h3.title.is-4= title
			block
	+modal(id)
		img(
			src=`https://i.ibb.co/${full_link}/${id}-original.webp`
			alt=title
			fetchpriority="low"
			loading="lazy"
		)

mixin header(date, medium)
	p.subtitle.is-6
		span.icon-text
			+icon("far fa-calendar")
			span= filters.date(date, "PP")
			+icon("fas fa-brush")
			span= medium

+display("tiger", "Ferality", "ckL85vM", "zQJ2c5j").has-frame(size="large" width=500 height=510)
	+header("2018-12-02", "Oil on canvas")
	:md
		One of the older works of mine — I think I'd only spent 2 years dabbling with oil paintings back then,
		and the technical inexpertise definitely shows — but a brazen and unpolished technique does not
		necessarily hinder expressiveness. ;)
		
		I really wanted to capture the anger in the tiger, and as I exaggerated its features and started furiously
		laying down sweeping strokes of striking orange, I too experienced the feral fury in me.
		Wish I could experience that again...

+display("altitudinous_blossoms", "Altitudinous blossoms", "Z8wxQ2k", "Ltq1TN2").has-frame(size="medium" rtl width=400 height=660)
	+header("2021-02-11", "Oil on canvas")
	:md
		A friend of my mother's is a hobbyist photographer, and I think he took the original photo when he went to Tibet to...
		well, take pictures of the wild flora and fauna and the majestic landscape.
		(Y'know, like a photographer? Why else would he be there anyway?)

		My mother and I were both enthralled by the contrast between the razor-sharp edges of the mountains in the background,
		and the wavy, flailing flora trying to survive on the hostile, altitudinous plateau. In face of all the odds, the
		flowers still bloom, facing the intensely blue sky of the Tibetan Plateau.

		To recreate the chiseled, thick look of the mountain, I had to use a spatula, which was *very* fun to use —
		I did take a while to figure it out though. I also used a toothbrush to ~~paint~~ *spray* the white dots on,
		which are actually specks of mint-scented toothpaste and not white paint!
		Although, they look like they hold up just fine on the canvas.

+display("tropical_fish", "A piscine aura in the depths", "DRvWRpW", "Vqz9qm9").has-frame(size="large" width=500 height=380)
	+header("2021-06-05", "Oil on canvas")
	:md
		Some kind of tropical fish whose name I have completely forgotten. It didn't even occur to past-Leah to write these things down! *sigh*

		It's really pretty, especially for its lake-blue scales and blood-red fins! Sure did take a long time to paint though... It was around this time
		when my style really departed from the raw, emotional expression like *Ferality*, towards a finer sort of aesthetic.

+display("red_cotton", "A flower — what's her name again?", "5hj54QN", "SwmKykh").has-frame(size="large" rtl width=500 height=372)
	+header("2021-12-11", "Oil on canvas")
	:md
		Turns out it's a flower of the tree [*Bombax ceiba*](https://en.wikipedia.org/wiki/Bombax_ceiba), better known as
		the red cotton tree, or <ruby>木棉 <rp>(</rp><rt>mù mián</rt><rp>)</rp></ruby> in Chinese.
		I was going to leave it unidentified, but my mother's a bonafide botanist and identified it for me.

		Its striking red color is honestly captivating, and I still have it displayed on the wall of my room,
		facing the entrance for I hope any visitors would appreciate its vividity and life force seeping out of the canvas,
		as much as I would.

+display("laotie", "老铁 (Laotie)", "t3cjz0Y", "b7LwF4N").has-frame(size="medium" width=400 height=533)
	+header("2022-03-20", "Oil on canvas")
	:md
		He's a corgi in the studio we used to paint in, and his presence made most of our weekly painting hours turn into communal dog-petting sessions.
		It was lovely to paint with such an adorable cutie around, and time and stress all went away so swiftly with him.
		I still have like, *so* many photos of him playing around with us... Too bad that that studio was shut down about 2 months ago, on February 2023.

		My mother insists I painted Santa Claus in disguise of a dog! But really, he's just wearing some festive clothes...

+display("mom_and_i", "By the lake, beneath the canopies, in the beforetimes", "YW6pyd4", "thS8x2w").has-frame(size="medium" width=400 height=515)
	+header("2022-07-23", "Oil on canvas")
	:md
		One summer afternoon, on the eastern shore of Jinji Lake, Suzhou. It was an awfully nice day, so my mother and I decided
		to take a selfie on our daily stroll outside.
		Originally, I decided to paint this as a work of memorabilia, to make me cherish the good times I spent with my mother at home,
		before I start my studies abroad, and our chance of spending quality time together becomes unfeasibly slim.

		But now, it has taken an additional level of meaning — this was the last painting I finished before I realized I was a trans woman.
		That tall silhouette with the masculine build was supposed to be me, but now it's representative of the person I used to be.
	
		However, I have to remain truthful to myself — regardless of who I am now, I *was* like that back then, and this fossilized image
		of me is one that I can't, and don't want to change. The past is not to be changed — the future, however, is.